.practitioner-list-container{
    margin-left: 30px;
    margin-top: 15px;
}

.pl-header{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 30px;
}
.pl-sub-text{
    margin-left: 50px;
    margin-top: 20px;
}
.profile-image{
   margin-top: 20px;
   margin-left: 20px;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url(../assets/istockphoto-1081389910-2048x2048-transformed.jpeg);
    border-radius: 20px; 
}
.practitioner-details{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
bottom: 30px;
margin-left: 65px;
width: 200px;
height: 80px;
background: #FFFFFF;
border: 2px solid #A7A7A7;
border-radius: 10px;
}
.request-button{
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #3D71BD;
    background-color: #3D71BD;
    color: #fff;
    cursor:pointer; 
    margin-top: 100px;
    margin-left: 30px;
    text-align: center;
    padding-top: 6px;
}
.request-button:hover{
    background: #102037;
}

.flex-div{
    display: flex;
    flex-direction: row;
}