.practitioner-list-container{
    margin-left: 30px;
    margin-top: 15px;
}
.pl-header{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 30px;
}
.profile-image{
width: 80px;
height: 80px;
background-size: cover;
background-image: url(../assets/istockphoto-1081389910-2048x2048-transformed.jpeg);
border-radius: 50%; 
}
.practitioner-details{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
    bottom: 70px;
    left: 90px;
}
.speciality{
    position: relative;
    bottom: 60px;
    left: 90px; 
  
}