.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #f5f5f5; */
    cursor: pointer;
    color: #000;
  }
  
  .accordion-header:hover {
    background-color: #ebebeb;
  }
  
  .icon {
    width: 10px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    transition: transform 0.3s;
  }
  
  .icon.open {
    transform: rotate(-135deg);
  }
  
  .accordion-content {
    padding: 10px;
  }
  